docs/index.html linguist-generated=true
docs/app.js linguist-generated=true
docs/scenario.js linguist-generated=true
docs/style.css linguist-generated=true
docs/assets/* linguist-generated=true
web/assets/* linguist-generated=true
